html {
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

#container {
  padding: 0;
  margin: 0;
}

#main {
  display: flex;
  font-family: Arial, sans-serif;
}

#info {
  flex: 2;
  font-size: 2vh;
  display: flex;
}

#info1 {
  flex: 2;

}

#info2 {
  flex: 3;
}

#tabs {
  flex: 1;
  display: grid;
  padding-bottom: 2px;
}

#buttons {
  background-color: rgb(66, 51, 43);
  display: flex;
  padding-right: 4px;
  padding-left: 2px;
  text-align: center;
  height: 32vh;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

#goldText{
  font-size: 3vh;
  color: rgb(250, 224, 194);
}

.button {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  height: 3vh;
}

#mineGold {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  display: flex;
  font-size: 2vh;
  height: 3vh;
}

#perClickUpgrade {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  display: flex;
  font-size: 2vh;
  height: 3vh;
}

#goldTimeUpgrade {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  display: flex;
  font-size: 2vh;
  height: 3vh;
}



#buyHirer {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  display: flex;
  visibility: hidden;
  font-size: 2vh;
  height: 3vh;
}

#buyDrillBot {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  display: flex;
  font-size: 2vh;
  height: 3vh;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}


#buyMachine {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  display: flex;
  font-size: 2vh;
  height: 3vh;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}


#Upgrades {
  background-color: lightgrey;
  display: grid;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: Arial, sans-serif;

}

#upgrade1 {
  margin-bottom: 5px;
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  margin-right: 40%;
  height: 3.2vh;
  font-size: 2vh;
}

#upgrade2 {
  margin-bottom: 5px;
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  margin-right: 40%;
  margin-top: 0px;
  height: 3.2vh;
  font-size: 2vh;
}


#upgrade3 {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  margin-right: 40%;
  margin-top: 0px;
  height: 3.2vh;
  font-size: 2vh;
}

#tabs {
  display: grid;
}

.tab {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  margin-top: 0px;
  font-size: 20px;
}

#AT {
  text-align: center;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

#Achievements {
  font-size: 22px;
  font-family: Arial, sans-serif;
}

#AchieveShow {
  margin: 10px;
  padding: 10px;
  display: flex;
}

.Achieve {
  width: 35vw;
  overflow-wrap: break-word;
}

#A1 {
  margin: 10px;
}

#A1E {
  display: none;
}

#A1:hover~#A1E {
  display: block;
}

#A2E {
  display: none;
}

#A2:hover~#A2E {
  display: block;
}

#A2 {
  margin: 10px;
}

#Prestige {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #d4c4f3;
}


#Pres {
  visibility: visible;
}


#pText {
  text-align: center;
  margin-left: 7vw;
  word-wrap: break-word;
  width: 60vw;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.prestigeC {
  margin-bottom: 5px;
  color: green;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
}


#prestigeButtons {
  width: 100vw;
  display: flex;
}


#prestigeButtons1 {
  display: grid;
}


#prestige {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  padding-left: 0px;
  margin-top: 0px;
  height: 5vh;
  width: 35vw;
}

#prestigeU1 {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  padding-left: 0px;
  margin-top: 0px;
  height: 5vh;
  width: 35vw;
}

#prestigeU2 {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  padding-left: 0px;
  margin-top: 0px;
  height: 5vh;
  width: 35vw;
}

#prestigeU3 {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  padding-left: 0px;
  margin-top: 0px;
  height: 5vh;
  width: 35vw;
}

#prestigeU4 {
  border-width: 2px;
  border-radius: 7px;
  color: black;
  border-color: brown;
  background-color: #ecce22;
  padding-right: 0px;
  margin-top: 0px;
  height: 5vh;
  width: 35vw;
}
