html {
    height: 100vh;
    width: 100vw;
  }
  
  body{
  
    text-align: center;
  }
  
  #container {
    padding: 0;
    margin: 0;
  }
  
  #main{
    display:flex;
    font-family: Arial, sans-serif;
  }
  
  #info {
    font-size: 2vh;
    flex:2
  }
  
  #tabs{
    flex:1;
    display:grid;
    padding-bottom:2px;
  }
  
  #buttons {
    background-color: grey;
    display: flex;
    padding-right: 4px;
    padding-left: 2px;
    text-align: center;
    /* height: 19px */
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  
  .button {
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    height: 3vh;
    padding-top: 5px;
    
  }
  
  #mineGold {
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    display: flex;
    font-size: 2vh;
    height: 3vh;
  }
  
  #perClickUpgrade {
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    display: flex;
    font-size: 2vh;
    height: 3vh;
  }
  
  #goldTimeUpgrade {
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    display: flex;
    font-size: 2vh;
    height: 3vh;
  }
  
  
  
  #buyHirer {
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    display: flex;
    visibility:hidden;
    font-size: 2vh;
    height: 3vh;
  }
  
  #buyDrillBot {
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    display: flex;
    font-size: 2vh;
    height: 3vh;
    visibility:hidden;
    align-items: center;
    justify-content: center;
  }
  
  
  #Upgrades {
    background-color: lightgrey;
    display: grid;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: Arial, sans-serif;
  
  }
  
  #upgrade1 {
    margin-bottom: 5px;
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color: #ecce22;
    margin-right: 60%;
  }
  
  #upgrade2 {
    margin-bottom: 5px;
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    margin-right: 60%;
    margin-top: 0px;
  }
  
  #upgrade3 {
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    margin-right: 60%;
    margin-top: 0px;
  }
  
  #tabs{
  display:grid;
  }
  
  .tab{
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    margin-top: 0px;
    font-size: 20px;
  }
  
  #AT{
  text-align: center;
    visibility:hidden;
    align-items: center;
    justify-content: center;
  }
  
  #Achievements{
    font-size: 22px;
  }
  
  
  #Prestige {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #d4c4f3;
  
    
  }
  
  #pText{
    text-align: center;
    margin-left: 7vw;
    word-wrap:break-word;
    width: 60vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .prestigeC{
    margin-bottom: 5px;
    color: green;
    align-items: center;
    justify-content: center;
  }
  
  #prestige{
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    padding-left: 0px;
    margin-right: 68vh;
    margin-top: 0px;
    height: 5vh;
    width:35vw;
  }
  
  #prestigeU1{
    border-width: 2px;
    border-radius: 7px;
    color: black;
    border-color: brown;
    background-color:  #ecce22;
    padding-left: 0px;
    margin-right: 68vh;
    margin-top: 0px;
    height: 5vh;
    width:35vw;
  }
